<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h2>Oops!</h2>
                <h1 class="text-danger">
                    404 Not Found</h1>
                <div class="error-details text-muted">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a routerLink="/config-list" routerLinkActive="active" class="btn btn-dark btn-lg"><span
                            class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>