<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel" *ngIf="isEditAction" >
        Edit Config
    </h4>
    <h4 class="modal-title" id="myModalLabel" *ngIf="!isEditAction">
        Add Config
    </h4>
</div>

<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-4 control-label" for="inputUserName">User Name</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" name="inputUserName" placeholder="User_ID" [(ngModel)]="userConfig.userId"
                [readonly] = "isEditAction"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="inputControl">Control Name</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" name="inputControl" placeholder="Control Name" [(ngModel)]="userConfig.controlName"
                [readonly] = "isEditAction"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="inputItem">Item</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" name="inputItem" placeholder="Item" [(ngModel)]="userConfig.item"
                [readonly] = "isEditAction"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="inputValue">Value</label>
            <div class="col-sm-12">
                <textarea name="message" rows="3" cols="30" class="form-control" name="inputValue" placeholder="Value" [(ngModel)]="userConfig.dataValue"></textarea>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div>
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal" (click)="saveConfig()" >Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
</div>