<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div>
        <div class="row">

          <!-- <div class="col">
            <button type="button" id="sidebarCollapse" class="btn btn-danger">
              <i class="fa fa-bars"></i>
              
            </button>
          </div> -->

          <div class="row">
            <div class="btn-group btn-group-toggle col-md-7" data-toggle="buttons">
              <button type="radio" class="btn btn-info active">APAC</button>
              <button type="radio" class="btn btn-info">EMEA</button>
              <button type="radio" class="btn btn-info">AMER</button>
            </div>
            <div class="btn-group btn-group-toggle col-md-5" data-toggle="buttons">
              <button type="radio" class="btn btn-info">DEV</button>
              <button type="radio" class="btn btn-info">PROD</button>
            </div>
          </div>

          <div class="col pull-right">
            
          </div>
        </div>
      </div>
    </nav>
  </div>