<nav id="sidebar" style="height: 100%;">
  <div class="sidebar-header bg-dark">
    <h4><span class="fa fa-users"> User Admin</span></h4>
  </div>

  <ul class="list-unstyled">
    <li>
      <a href="#configMenu" data-toggle="collapse" aria-expanded="false"
        class="dropdown-toggle header">Users</a>
      <ul class="list-unstyled" id="configMenu">
        <li>
          <a href="#" routerLink="/user-list" routerLinkActive="activeTab">
            <i class="fa fa-user-circle-o mr-2" aria-hidden="true"></i>User info</a>
        </li>
        <li>
          <a href="#" routerLink="/config-list" routerLinkActive="activeTab">
            <i class="fa fa-cogs mr-2" aria-hidden="true"></i>Search Config</a>
        </li>
        <li>
          <a href="#" routerLink="/audit-config-list" routerLinkActive="activeTab">
            <i class="fa fa-th-list mr-2" aria-hidden="true"></i>Audit Config</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#screenMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle header">Screens</a>
      <ul class="list-unstyled" id="screenMenu">
        <li>
          <a href="#" [ngClass]="{activeTab: activeTab === 'screenSearch'}" (click)="activeTab = 'screenSearch'"
          routerLink="/screen-list" routerLinkActive="active">
          <i class="fa fa-desktop mr-2" aria-hidden="true"></i>List Screen</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>