<nav id="sidebar">
    <div class="sidebar-header bg-dark">
      <h4><span class="fa fa-users"> User Admin</span></h4>
    </div>

    <ul class="list-unstyled">
      
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#"><i class="fa fa-list-alt mr-2"></i>List User</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-user-plus mr-2"></i>Add User</a>
          </li>
        </ul>
      </li>
      
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Screens</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#"><i class="fa fa-list-alt mr-2"></i>List Screen</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-desktop mr-2"></i>Add Screen</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Others</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#"><i class="fa fa-list-alt mr-2"></i>List Screen</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-desktop mr-2"></i>Add Screen</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>