<div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text cyan lighten-1"><i class="fa fa-search"></i></span>
    </div>
    <input class="form-control my-0 py-1" type="text" placeholder="search anything" aria-label="Search"
      [(ngModel)]="globalSearch" (keydown.enter)="doSearch()" />
    <button class="btn btn-primary" [disabled]="(globalSearch !== undefined && globalSearch !== '') ? false : true"
      (click)="doSearch()">search</button>
  </div>

  <div class="mt-1">
    <button class="btn btn-sm btn-success mb-1" data-toggle="modal" (click)="openConfigDialog()">
      <i class="fa fa-plus mr-2"></i>config
    </button>

    <div>
      <table class="table table-hover table-sm">
        <thead>
          <th>User ID</th>
          <th>Control</th>
          <th>item</th>
          <th>value</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>

        <tbody>
          <tr *ngFor="let config of searchResult">
            <td>{{config.userId}}</td>
            <td>{{config.controlName}}</td>
            <td>{{config.item}}</td>
            <td>{{config.dataValue}}</td>
            <td><button class="btn" (click)="openConfigDialog(config)"> <i class="fa fa-pencil-square-o"
                  aria-hidden="true"></i></button></td>
            <td><button class="btn" (click)="deleteConfig(config)"><i class="fa fa-trash"
                  aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
  <p style="color: white"> Work in progress... </p>
</ngx-spinner>