<div>
  <div class="input-group md-form form-sm form-1 pl-0">
    <div class="input-group-prepend">
      <span class="input-group-text cyan lighten-1"><i class="fa fa-search"></i></span>
    </div>
    <input class="form-control my-0 py-1" type="text" placeholder="search anything" aria-label="Search"
      [(ngModel)]="searchString" />
    <input type="button" value="Search" (click)="onSearch()" />
  </div>

  <div>
    <button class="btn btn-sm btn-outline-danger" data-toggle="modal" (click)="openConfigDialog()">+config</button>

    <table class="table table-hover table-sm">
      <thead>
        <th>user_Name</th>
        <th>Control</th>
        <th>item</th>
        <th>value</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>

      <tbody>
        <tr *ngFor="let config of searchResult">
          <td>{{config.userId}}</td>
          <td>{{config.controlName}}</td>
          <td>{{config.dataValue}}</td>
          <td>{{config.item}}</td>
          <td><button class="btn" (click)="openConfigDialog(config)"> <i class="fa fa-pencil-square-o"
                aria-hidden="true"></i></button></td>
          <td><button class="btn" (click)="deleteConfig(config)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>