<div style="width: 100%;height:100%">
  <div class="input-group" style="width: 100%;height:100%">
    <div class="input-group-prepend">
      <span class="input-group-text cyan lighten-1"><i class="fa fa-search"></i></span>
    </div>
    <input class="form-control my-0 py-1" type="text" placeholder="search anything" aria-label="Search"
      [(ngModel)]="globalSearch" (keydown.enter)="doSearch()" />
    <button class="btn btn-app" [disabled]="(globalSearch !== undefined && globalSearch !== '') ? false : true"
      (click)="doSearch()">search</button>
  </div>

  <div class="mt-1" style="width: 100%;height:800px">
    <div class="row ml-0">
      <div>
        <button class="btn btn-sm btn-app mb-1" data-toggle="modal" (click)="onOpenConfigDialog()">
          <i class="fa fa-plus mr-2"></i>config
        </button>
      </div>
      <div class="ml-auto mr-3">
        <input #filterText type="text" id="filter-text-box" class="form-control-sm" placeholder="filter ..."
          [disabled]="(globalSearch !== undefined && globalSearch !== '') ? false : true"
          (keyup)="onFilterTextBoxChanged(filterText.value)">
      </div>
    </div>

    <div style="width: 100%;height:100%">
      <ag-grid-angular #configGrid style="width: 100%;height:100%" id="configListGrid" class="ag-theme-alpine"
        [modules]="modules" [context]="context" [frameworkComponents]="frameworkComponents" [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)"></ag-grid-angular>
    </div>
  </div>
</div>